In this notebook, we will scikit-learn to perform a decision tree based classification of weather data.

Import Libraries

In [ ]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

Creating a Pandas DataFrame from a CSV file

In [ ]:
data = pd.read_csv('daily_weather.csv')

#Daily Weather Data Description<br>
The file **daily_weather** is a comma-seperated file that contains weather data. The data comes from a weather station located in San Dlego,California .The weather station is equipped with sensor that capture weather-related measurements such as air temperature,air pressure,and relative humidity.Data was collected for a period of three years,from September 2011 to September 2019,to ensure that sufficient data for different seasons and weather conditions is captured.

let's now check all the columns in the data.

In [ ]:
data.columns

Index(['number', 'air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

predict weather the day will be low-humidity or not based on the afternoon measurement of terrible humidity.<br>
Each row or sample ,consist of the following  variables:

1.**number**: unique number for each row.<br>
2.**air_pressure_9am**:air pressure averaged over a period from 8:55am to 9:04am (unit:hectoascais)<br>
3.**air_temp_9am**:air temperature averaged  over a period from 8:55am to 9:04am(unit degree Fahrenheit)<br>
4.**air_wind_direction_9am**:wind direction averaged over a period from 8:55am to 9:04am(unit degrees with 0 means coming from the North and increasing clockwise)<br>
5.**air_wind_speed_9am**:wid speed averaged over a period  from 8:55am to 9:04am (unit miles per hour)<br>
6.**max_wind_speed_9am**:wind gust speed averaged over a period from 8:55am to 9:04am (unit miles per hour)<br>
7.**rain_accumuulation_9am**:amount of time rain was accumulated in the 24 hours prior to 9am (unit milimeters)<br>
8.**rain-duration_9am**:amount of time rain was recorded in he 24 hours prior to 9am (unit seconds)<br>
9.**realative_humidity_9am**:relative humidity averaged over a period from 8:55am to 9:04am(unit percent)<br>
10.**relative_humidity_3pm** :relative humidity averaged over a period from 2:55pm to 3:04pm(unit percent)

In [ ]:
data

      number  air_pressure_9am  ...  relative_humidity_9am  relative_humidity_3pm
0          0        918.060000  ...              42.420000              36.160000
1          1        917.347688  ...              24.328697              19.426597
2          2        923.040000  ...               8.900000              14.460000
3          3        920.502751  ...              12.189102              12.742547
4          4        921.160000  ...              92.410000              76.740000
...      ...               ...  ...                    ...                    ...
1090    1090        918.900000  ...              26.020000              38.180000
1091    1091        918.710000  ...              90.350000              73.340000
1092    1092        916.600000  ...              45.590000              52.310000
1093    1093        912.600000  ...              64.840000              58.280000
1094    1094        921.530000  ...              14.560000              15.100000

[1095 rows x 11 columns]

In [ ]:
data[data.isnull().any(axis=1)]

      number  air_pressure_9am  ...  relative_humidity_9am  relative_humidity_3pm
16        16        917.890000  ...              48.990000              51.190000
111      111        915.290000  ...              21.500000              29.690000
177      177        915.900000  ...              29.260000              46.500000
262      262        923.596607  ...              17.990876              16.461685
277      277        920.480000  ...              52.580000              54.030000
334      334        916.230000  ...              31.880000              32.900000
358      358        917.440000  ...              13.880000              25.930000
361      361        920.444946  ...              12.278715               7.618649
381      381        918.480000  ...              20.640000              14.350000
409      409               NaN  ...              18.487385              20.356594
517      517        920.570000  ...              79.880000              84.530000
519      519        916.250000  ...              72.550000              74.390000
546      546               NaN  ...              87.870000              70.770000
620      620        921.200000  ...              59.790000              77.750000
625      625        912.400000  ...              86.840000              64.740000
656      656        920.830000  ...              23.770000              51.630000
670      670        910.920000  ...              80.560000              88.220000
672      672        922.448945  ...              16.753670              17.804720
705      705        911.900000  ...              77.630000              59.130000
731      731        922.970166  ...              34.807753              18.418179
737      737        917.895130  ...              13.771311              16.792455
788      788        917.923442  ...               6.939692              18.793825
840      840        918.043767  ...              11.911222              18.154358
848      848        915.250000  ...              91.000000              90.780000
861      861        919.065408  ...              12.497839              13.438518
869      869               NaN  ...              85.270000              90.260000
998      998        914.140000  ...              24.200000              41.380000
1031    1031        922.669195  ...              18.920805              19.641841
1035    1035        919.670000  ...              56.860000              50.650000
1063    1063        917.300185  ...              14.972668              20.966267
1066    1066        919.564869  ...              11.657314              17.331823

[31 rows x 11 columns]

#Data cleaning steps

We will not need to number for each row so we can clean it.

In [ ]:
del data['number']

Now let's drop null values using the pandas dropna function.

In [ ]:
before_rows=data.shape[0]
print(before_rows)

1095

In [ ]:
data=data.dropna()

In [ ]:
after_rows = data.shape[0]
print(after_rows)

1064

How many rows dropped due to cleaning?

In [ ]:
before_rows - after_rows

31

#Convert to a Classification Task

Binarize the relative_humidity_3pm to 0 or 1

In [ ]:
clean_data = data.copy()
clean_data['high_humidity_label'] = (clean_data['relative_humidity_3pm']> 24.99)*1
print(clean_data['high_humidity_label'])

0       1
1       0
2       0
3       0
4       1
       ..
1090    1
1091    1
1092    1
1093    1
1094    0
Name: high_humidity_label, Length: 1064, dtype: int64

Target is stored in Y

In [ ]:
1*False

0

In [ ]:
y=clean_data[['high_humidity_label']].copy()
#y

In [ ]:
clean_data['relative_humidity_3pm'].head()

0    36.160000
1    19.426597
2    14.460000
3    12.742547
4    76.740000
Name: relative_humidity_3pm, dtype: float64

Use 9am Sensor Signals as Features to Predict Humidity at 3pm

In [ ]:
morning_features = ['air_pressure_9am','air_temp_9am','avg_wind_direction_9am','avg_wind_speed_9am','max_wind_direction_9am','max_wind_speed_9am','rain_accumulation_9am','rain_duration_9am']

In [ ]:
x = clean_data[morning_features].copy()

In [ ]:
x.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am'],
      dtype='object')

In [ ]:
y.columns

Index(['high_humidity_label'], dtype='object')

#Perform Test and Train split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.33, random_state=325)

Fit on Train Set

In [ ]:
humidity_classifier = DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)
humidity_classifier.fit(x_train,y_train)

DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)

In [ ]:
type(humidity_classifier)

sklearn.tree._classes.DecisionTreeClassifier

Predict on Test Set

In [ ]:
predictions=humidity_classifier.predict(x_test)

In [ ]:
predictions[:10]

array([0, 0, 0, 1, 1, 1, 1, 0, 0, 0])

In [ ]:
y_test['high_humidity_label'][:10]

459    1
875    0
602    0
138    1
874    1
42     1
599    0
165    0
10     1
107    0
Name: high_humidity_label, dtype: int64

Measure Accuracy of the Classifier

In [ ]:
accuracy_score(y_true = y_test,y_pred = predictions)

0.7585227272727273